<!-- views/partials/header.html -->
<header class="main-header">
  <!-- Top line: Logo ONLY -->
  <div class="header-top">
    <div class="container">
      <div class="logo">
        <i class="fas fa-seedling"></i>
        <span>shambaXchange</span>
      </div>
    </div>
  </div>
  
  <!-- Second line: Navigation pages ONLY -->
  <div class="header-nav">
    <div class="container">
      <nav>
        <ul class="nav-menu" id="navMenu">
          <!-- Navigation links will be populated based on user role -->
        </ul>
      </nav>
    </div>
  </div>
</header>